<div class="page-header-background">
  <div class="page-header-section animated animatedFadeInUp fadeInUp">
    <div id="background-img"></div>
    <div class="mat-display-4 center-text">
      My Utilities App
      <div style="display: flex; justify-content: center;">
        <a href="http://customerportal.myutility.services/#/account-number" target="_blank" class="portal-link">
          <button class="download-btn" mat-stroked-button>Sign Up Now</button>
        </a>
      </div>
    </div>
  </div>
</div>

<mat-toolbar style="background: white;">
  <mat-toolbar-row class="tool-bar">
    <span class="span">Online Resources</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="card-container">
  <div class='row'>
    <div class='column'>
      <mat-card class="card">
        <mat-card-header class="card-header">
          <mat-card-title class="card-title">
            <a routerLink="/conservation" class="card-link">Conservation</a></mat-card-title>
        </mat-card-header>
        <img class="card-img" mat-card-image src="../../../assets/images/MUS_Conservation.svg"
          alt="Photo of Abstract Leaf">
        <mat-card-content class="card-content">
          <p class="card-p">
            Fresh drinking water is a precious resource. Find ways to preserve water and
            safeguard our environment here.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="learn-btn" mat-raised-button routerLink="/conservation">Learn More</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class='column'>
      <mat-card class="card">
        <mat-card-header class="card-header">
          <mat-card-title class="card-title"><a routerLink="/education" class="card-link">Education</a>
          </mat-card-title>
        </mat-card-header>
        <img class="card-img" mat-card-image src="../../../assets/images/MUS_Education.svg" alt="Photo of Lightbulb">
        <mat-card-content class="card-content">
          <p class="card-p">
            Is your water bill higher than you expected? Want to know how to read your meter?
            Discover answers to these questions and more here.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="learn-btn" mat-raised-button routerLink="/education">Learn More</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class='column'>
      <mat-card class="card">
        <mat-card-header class="card-header">
          <mat-card-title class="card-title"><a routerLink="/rate-calculator" class="card-link">Rate Calculator</a>
          </mat-card-title>
        </mat-card-header>
        <img class="card-img" mat-card-image src="../../../assets/images/MUS_Calculator.svg" alt="Photo of Calculator">
        <mat-card-content class="card-content">
          <p class="card-p">
            Need help calculating your rates? Use our Rate Calculator.
            Never let your rates surprise you.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="learn-btn" mat-raised-button routerLink="/rate-calculator">Learn More</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>
<div class="mat-display-2 app-headline">
  Get the My Utilities App
</div>
<div class="app-container">
  <div class="row" style="justify-content: center;">
    <img class="img-app anim" src="../../../assets/images/smartphone.png" alt="">
  </div>
</div>
<div class="container">
  <div class="mat-headline app-sub-headline">
    Includes features like: Bill Pay, Outage Reporting, Education and Conservation information, Rate Calculator, Past
    Usage, and so much more. Download the MyUtilities App Now!
  </div>

</div>
